* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background: #14002b;
  color: #fff;
  line-height: 1.6
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px
}

.header {
  background: #1A0B2E
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.logo span {
  color: #ff4fd8;
  cursor: pointer
}

.nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer
}

.primary {
  background: #ff4fd8;
  color: #fff
}

.outline {
  background: transparent;
  border: 1px solid #ff4fd8;
  color: #ff4fd8
}

/* hero */
.hero {
  text-align: center;
  padding: 80px 20px
}

.hero-icon {
  width: 120px;
  margin-bottom: 20px
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.hero-buttons .btn {
  margin: 5px;
}

/* About */
.about {
  text-align: center;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 900;
  color: #00FF88;
}

.stat span {
  display: block;
  font-size: 14px;
  color: #aaa;
  font-weight: 400;
}

/* Features */
.features h2,
.episodes h2 {
  text-align: center;
  margin-bottom: 20px
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px
}

.card {
  background: #2a004f;
  padding: 20px;
  border-radius: 12px;
  text-align: center
}


/* Episodes */
.episode-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px
}

.episode {
  background: #2a004f;
  padding: 20px;
  border-radius: 12px
}

/* host */
.host {
  background: #1d003b
}

.host-box {
  display: flex;
  align-items: center;
  gap: 20px
}

.host img {
  width: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #aaa
}

/* Responsiv */
@media(max-width:768px) {

  .stats,
  .feature-grid,
  .episode-grid {
    grid-template-columns: 1fr
  }

  .nav nav {
    display: none
  }

  .host-box {
    flex-direction: column;
    text-align: center
  }
}