*{margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,Helvetica,sans-serif
}

body{background:#14002b;
  color:#fff;line-height:1.6
}
.container{max-width:1100px;margin:auto;padding:20px
}

.header{background:#1A0B2E}

.nav{display:flex;
  justify-content:space-between;
  align-items:center
}

.logo span{color:#ff4fd8}

.nav a{color:#fff;
  margin:0 10px;
  text-decoration:none
}

.btn{
  padding:10px 20px;
  border:none;
  border-radius:20px;
  cursor:pointer
}

.primary{
  background:#ff4fd8;
  color:#fff
}
.outline{
  background:transparent;
  border:1px solid #ff4fd8;
  color:#ff4fd8
}